@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,800;1,200;1,400;1,500;1,600&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #00796b;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-weight: 400;
}


footer {
  text-align: center;
  background: #444;
  color: #fff;
  padding: 0.4rem;
}

main {
  padding: 1rem;
}

/* course list styling */

.course-list {
  max-width: 800px;
  margin: 20px auto;
  padding: 10px;
  background: #55b2a7;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.course {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  border-radius: 10px;
}

.course:hover {
  background: #6edacd;
  cursor: pointer; 
}

.course:last-child {
  border-bottom: none;
}

.course-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 15px;
}

.course-img-details {
  flex: 1;
}

.course-img-title {
  font-size: 1.2rem;
  margin: 0 0 5px;
  margin-left: 5%;
  color: #333;
}

.course-img-date {
  margin-left: 5%;
  font-size: 0.9rem;
  color: #000000;
}

/* new course form */
.course-form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #55b2a7;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.course-form h1 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #222;
  text-align: center;
}

.new-course {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-control {
  display: flex;
  flex-direction: column;
}

.form-control label {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.form-control input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  color: #333;
  height: 0.5rem;
}

.form-control input[type="checkbox"] {
  width: 20px; 
  height: 20px; 
  accent-color: #007BFF; 
  cursor: pointer; 
}

/* course customer table */

.customer-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; 
  text-align: left; 
}

.customer-table th, 
.customer-table td {
  padding: 5px; 
  border: 1px solid #000000;
  word-wrap: break-word; 
}

.customer-table th {
  background-color: #004d40;; 
  color: #fff; 
  font-weight: bold;
  text-transform: uppercase; 
}

.customer-table td {
  background-color: #f9f9f9; 
  color: #333; 
}

.customer-table tr:nth-child(even) td {
  background-color: #f1f1f1; 
}

.customer-table tr:hover td {
  background-color: #eaeaea; 
}

/* Navigation */
header {
  position: sticky;
  z-index: 1;
  top: 0;
  opacity: 0.9;
  background: #004d40;
}

nav {
  padding: 0 1rem;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
}

nav ul li.logo {
  font-size: 1.6rem;
}

nav ul li.logo span {
  color: #00796b;
  /* color: #2196f3; */
}

nav ul li.toggle {
  order: 1;
}

nav ul li.menu-item {
  display: none;
  width: 100%;
  text-align: center;
  order: 2;
}

nav ul li a {
  display: block;
  padding: 0.4rem 0.4rem;
  color: #fff;
}

nav ul li a:hover,
nav ul li a.active {
  color: #ef6c00;
}

nav ul:has(li .menu-btn:checked) .menu-item {
  display: block;
}

/* Draw the hamburger menu */
nav ul li .menu-btn {
  display: none;
}

nav ul li .menu-icon {
  padding: 28px 20px;
  cursor: pointer;
}

nav ul li .menu-icon .nav-icon {
  background-color: #fff;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  transition: background-color 0.2s ease-out;
}

nav ul li .menu-icon .nav-icon:before,
nav ul li .menu-icon .nav-icon:after {
  background-color: #fff;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
}

nav ul .menu-icon .nav-icon:before {
  top: -5px;
}

nav ul li .menu-icon .nav-icon:after {
  top: 5px;
}

/* Animate the hamburger menu */
nav ul li .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

nav ul li .menu-btn:checked ~ .menu-icon .nav-icon::before {
  transform: rotate(-45deg);
  top: 0;
}

nav ul li .menu-btn:checked ~ .menu-icon .nav-icon::after {
  transform: rotate(45deg);
  top: 0;
}

/* MEDIA QUERIES */
/* min-width: 768px */
@media (min-width: 768px) {
  section p {
    font-size: 1rem;
  }

  section i {
    font-size: 1.3rem;
  }

  nav ul {
    align-items: center;
    flex-wrap: nowrap;
  }

  nav ul li.menu-item {
    display: block;
    width: auto;
  }

  nav ul li.logo {
    flex: 1;
  }

  nav ul li.toggle {
    display: none;
  }


  #course-form {
    max-width: 600px;
    margin: auto;
  }

  .btn {
    font-size: 1rem;
  }
}

